html, body {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif; 
    box-sizing: border-box;
}

ul {
    padding-left: 0;
}

ul>li {
    list-style: none;
}

.container {
    width: 144rem;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    margin-top: 21.9rem;
    height: 68rem;
}

.header__content-left {
    position: relative;
    width: 60%;
    z-index: 10;
}

.header__content-right {
    position: relative;
    width: 40%;
    z-index: 2;
}

.header__wrapper img {
    position: absolute;
    right: -15rem;
}

.header-blue {
    color: #305c94;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 60px;
    text-align: left;
    text-transform: uppercase;
}

.header__list {
}

.header__list-item {
    position: relative;
    color: #000000;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 40px;
    text-align: left;
    padding-left: 4.9rem;
}

.header__list-item::before {
    content: '';
    background-image: url(../img/check.png);
    position: absolute;
    left: 0;
    width: 2.5rem;
    height: 1.9rem;
    top: 1.1rem;
}

.package {
    margin-top: 9rem;
    margin-bottom: 10rem;
}

.package__wrapper {
    position: relative;
}

.package__wrapper::before {
    content: '';
    background-image: url(../img/diag1.png);
    position: absolute;
    left: -30rem;
    width: 58rem;
    height: 60rem;
    z-index: -5;
}

.package__header h2 {
    text-align: center;
}
.package__subheader {
    color: #000000;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}
.package__card {
    display: flex;
    padding: 5.5rem 4rem 6.1rem 6.4rem;
    height: 336px;
    box-shadow: 0 12px 65px 3px rgba(7, 16, 29, 0.13);
    background-color: #ffffff;
    margin-top: 3.4rem;
    justify-content:center;
    align-items:center;

}
.package__card_name {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28px;
    text-align: left;
    flex: 1.4 1;
    justify-content:center;
    align-items:center;
    z-index: 1;
}

.package__card_name h2 {
    text-transform: uppercase;
    margin: 0;
    font-size: 3.6rem;
}

.package__card_header {
    color: #000000;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    align-items: center;
}
.package__card_descr {
    color: #000000;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}
.package__card_img {
    display: flex;
    flex: 1 1;
    z-index: 0;
}
.package__card_price {
    flex: 1 1;
}
.package__card_price-old {
    color: #a2b1c5;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 72px;
    text-align: left;
    text-decoration: line-through;
    text-transform: uppercase;
}
.package__card_price-new {
    color: #000000;
    font-size: 60px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 72px;
    text-align: left;
    text-transform: uppercase;
}
.package__card_price-benefit {
    color: #000000;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 72px;
    text-align: left;
}
.package__card_price-button {
    width: 33rem;
    height: 6.6rem;
    border-radius: 0.4rem;
    background-color: #f95b2a;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 7rem;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}
.package__card_price-button:hover {
    background-color: #fa6d2b;
    ;
}

.move {
    margin-left: -100px;
}

.drink {
    margin-top: 11.1rem;
}

.drink__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.drink__img {
    flex: 1 1 30%;
    position: relative;
}
.drink__img::before {
    content: '';
    background-image: url(/img/diagNoVision.png);
    position: absolute;
    width: 56.3rem;
    height: 58.6rem;
    z-index: -10;
    top: 0;
}

.drink__img::after {
    content: '';
    background-image: url(/img/diagVision.png);
    position: absolute;
    width: 26.3rem;
    height: 33.8rem;
    z-index: 10;
    top: 17rem;
    left: -5rem;
}

.drink__header {
    flex: 1 1 60%;
    position: relative;
}

.drink__header::before {
    content: '';
    background-image: url(/img/diag4.png);
    position: absolute;
    width: 48rem;
    height: 67rem;
    z-index: -5;
    top: -10rem;
    right: -15rem;
}

.drink__header::after {
    content: '';
    background-image: url(/img/diag2.png);
    position: absolute;
    width: 66.8rem;
    height: 77.2rem;
    top: -85rem;
    right: -23rem;
    z-index: -5;
}

.black {
    color: #000000;
}

.center {
    text-align: center;
}

.footer {
    margin-bottom: 24rem;
}


@media (min-width: 319px) and (max-width: 767px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }

    .header__wrapper {
        display: block;
        margin-top: -2rem;
        height: 48rem;
    }
    .header__content-left {
        margin-left: -2rem;
    }

    .header-blue {
        font-size: 1.5rem;
        text-align: center;
        font-weight: 700;
        line-height: 2rem;
        text-transform: uppercase;
    }

    .header__list-item {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2rem;
        text-align: left;
    }

    .header__list-item::before {
        content: '';
        background-image: url(../img/check.png);
        position: absolute;
        left: 0;
        width: 2.5rem;
        height: 1.9rem;
        top: 0.5rem;
    }

    .header__content-left {
        position: relative;
        width: 100%;
        z-index: 10;
        padding: 2rem;
    }
    
    .header__content-right {
        display: none;
    }


    .package {
        margin-top: 1rem;
        height: 30rem;
    }
    .package__header h2 {
        font-size: 3rem;
        line-height: 4rem;
    }

    .package__card_header {
        font-size: 2rem;
    }

    .move {
        margin-left: 0;
    }

    .package__card_img img {
        width: 80%;
        height: 80%;
    }

    .package__card {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 80%;
        margin: 0 auto;
        margin-top: 2rem;
        padding: 4rem;
        margin-left: -1.5rem;
    }

    .package__card_name h2 {
        text-align: center;
        font-size: 3rem;
    }

    .package__card_descr {
        text-align: center;
        font-size: 1.5rem;
    }

    .package__card_price-old {
        text-align: center;
        font-size: 2rem;
        line-height: 5rem;
    }

    .package__card_price-new {
        text-align: center;
        font-size: 4rem;
        line-height: 5rem;
    }

    .package__card_price-benefit {
        text-align: center;
        font-size: 2rem;
        line-height: 5rem;
    }

    .package__card_price-button {
        width: 90%;
        height: 5rem;
        line-height: 5rem;
        font-size: 1.5rem;
    }

    .move {
        width: 90%;
    }
    
    .drink {
        margin-top: 111rem;
    }

    .drink__content {
        flex-direction: column-reverse;
    }

    .drink__header h2 {
        text-align: center;
        font-size: 2rem;
    }
    
    .drink__img img {
        height: 100%;
        width: 100%;
    }

    .drink__img::after {
        content: none;
    }
    .drink__img::before {
        content: none;
    }

    .footer {
        margin-top: 5rem;
    }

    .footer__header {
    }

    .footer__header h2 {
        text-align: center;
        font-size: 2rem;
    }

    .footer__list {
        margin-left: 1rem;
    }

    .footer__list li {
        font-size: 1.5rem;
        margin-top: 2rem;
    }
    
 }
  }

  
  /* md (>=768 и <=991) */
@media (min-width: 768px) and (max-width: 991px) { 
    .container {
        width: 75rem;
        margin: 0 auto;
    }

    .header__wrapper {
        display: block;
        margin-top: 0;
        height: 48rem;
    }

    .header-blue {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        text-align: left;
        text-transform: uppercase;
    }

    .header__list-item {
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        padding-left: 2.9rem;
    }

    .header__list-item::before {
        content: '';
        background-image: url(../img/check.png);
        position: absolute;
        left: 0;
        width: 2.5rem;
        height: 1.9rem;
        top: 0.5rem;
    }

    .header__content-left {
        position: relative;
        width: 70%;
        z-index: 10;
        padding: 6rem;
        background-image: url(../img/Autoclav.png);
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: 150%;
    }
    
    .header__content-right {
        display: none;
    }


    .package {
        margin-top: 1rem;
        height: 50rem;
    }

    .move {
        margin-left: 0;
    }

    .package__card {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 60rem;
        margin: 0 auto;
        margin-top: 2rem;
        padding: 6rem 4rem;
    }

    .package__card_name {
        text-align: center;
    }

    .package__card_descr {
        text-align: center;
    }

    .package__card_price-old {
        text-align: center;
    }

    .package__card_price-new {
        text-align: center;
    }

    .package__card_price-benefit {
        text-align: center;
    }

    .package__card_price-button {
        width: 60rem;
        height: 10rem;
        line-height: 10rem;
        font-size: 4rem;
    }
    
    .drink {
        margin-top: 150rem;
    }

    .drink__content {
        flex-direction: column-reverse;
    }

    .drink__header h2 {
        text-align: center;
        font-size: 3rem;
    }

    .footer {
        margin-top: 5rem;
    }

    .footer__header {
    }

    .footer__header h2 {
        text-align: center;
        font-size: 3rem;
    }

    .footer__list {
        margin-left: 5rem;
    }

    .footer__list li {
        font-size: 2rem;
        margin-top: 2rem;
    }
    
 }
  
  /* lg (>=992 и <=1199) */
@media (min-width: 992px) and (max-width: 1199px) { 
    .container {
        width: 99rem;
        margin: 0 auto;
    }

    .header__wrapper {
        display: block;
        margin-top: 1.9rem;
        height: 48rem;
    }

    .header-blue {
        font-size: 27px;
        font-weight: 700;
        line-height: 30px;
        text-align: left;
        text-transform: uppercase;
    }

    .header__list-item {
        font-size: 18px;
        font-weight: 400;
        line-height: 40px;
        text-align: left;
        padding-left: 4.9rem;
    }

    .header__list-item::before {
        content: '';
        background-image: url(../img/check.png);
        position: absolute;
        left: 0;
        width: 2.5rem;
        height: 1.9rem;
        top: 1.1rem;
    }

    .header__content-left {
        position: relative;
        width: 100%;
        z-index: 10;
        padding: 6rem;
        background-image: url(../img/Autoclav.png);
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: 80%;
    }
    
    .header__content-right {
        display: none;
    }


    .package {
        margin-top: 10rem;
    }
     
    .package__subheader {
        color: #000000;
        font-size: 24px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }
    .package__card {
        display: flex;
        padding: 5rem;
        height: 20rem;
        box-shadow: 0 12px 65px 3px rgba(7, 16, 29, 0.13);
        background-color: #ffffff;
        margin-top: 3.4rem;
        justify-content:center;
        align-items:center;
    
    }
    .package__card_name {
        color: #000000;
        font-size: 36px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 28px;
        text-align: left;
        flex: 1.4 1;
        justify-content:center;
        align-items:center;
    }
    
    .package__card_name h2 {
        text-transform: uppercase;
        margin: 0;
        font-size: 2.4rem;
    }
    
    .package__card_header {
        color: #000000;
        font-size: 24px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        align-items: center;
    }
    .package__card_descr {
        color: #000000;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
    }
    .package__card_img {
        display: flex;
        flex: 1 1;
    }
    .package__card_price {
        flex: 1 1;
    }
    .package__card_price-old {
        color: #a2b1c5;
        font-size: 24px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 56px;
        text-align: left;
        text-decoration: line-through;
        text-transform: uppercase;
    }
    .package__card_price-new {
        color: #000000;
        font-size: 40px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 56px;
        text-align: left;
        text-transform: uppercase;
    }
    .package__card_price-benefit {
        color: #000000;
        font-size: 24px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 56px;
        text-align: left;
    }
    .package__card_price-button {
        width: 27rem;
        height: 5.4rem;
        border-radius: 0.4rem;
        background-color: #f95b2a;
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 5.5rem;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
    }
    .package__card_price-button:hover {
        background-color: #fa6d2b;
        ;
    } 

    .drink {
        margin-top: 0rem;
    }

    .footer__header {
        margin-left: 5rem;
    }

    .footer__list {
        margin-left: 5rem;
    }

}
  
  /* xl (>=1200) */
@media (min-width: 1200px) { 
    .container {
        width: 120rem;
    }
 }